html{
    background-image: url('./media/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center top;
}


.App{
    margin: 2rem;
    display: "flex";
    justify-content: center;
    align-items: center;
    
}